.header {
  padding: 0 12px 0 16px;
  background-color: #1074CC;
  display: flex;
  gap: 16px;
  position: relative;
  height: 56px;
}
.header__logo-link img {
  height: 56px;
  display: block;
}

.header__center {
  width: clamp(200px, 50vw, 750px);
  display: flex;
  position: relative;
  align-items: center;
}

.header__nav {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
}

.header__burger {
  display: none;
}

.header-search {
  position: absolute;
  inset: 0;
  z-index: 10;

  display: flex;
  align-items: center;

  background: #1074CC;

  pointer-events: none;
  transform: scaleX(0);
  transform-origin: right;

  transition: transform 1.01s ease;
}

.header-search.open {
  transform: scaleX(1);
  pointer-events: auto;
}

.header__nav-list {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  cursor: pointer;
  transition: 0.2s;
}

.header__nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon-rotate {
  transform: rotate(-45deg);
}

.header__BBB,
.header__additional {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__BBB-btn,
.header__additional-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.header__actions {
  margin-left: auto;
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__icon-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.header__badge {
  position: absolute;
  bottom: 19px;
  left: 11px;
  background: #CC1910;
  color: white;
  border-radius: 8px;
  width: 23px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}


.header__nav-item:hover,
.header__BBB:hover,
.header__additional:hover {
  background: rgba(255, 255, 255, 0.1);
}

.hidden {
  display: none;
}

@media (max-width: 900px) {
  .header {
    gap: 8px;
  }

  .icon {
    display: none;
  }
}

@media (max-width: 650px) {

  .header__burger {
    display: block;
    z-index: 20;
    width: 24px;
    height: 18px;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
  }

  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: 0.3s;
  }

  .header__burger span:nth-child(1) {
    top: 0;
  }

  .header__burger span:nth-child(2) {
    top: 8px;
  }

  .header__burger span:nth-child(3) {
    bottom: 0;
  }
  .header__center{
     order: -1;
     width: 50px;

  }
  .header__nav {
    position: absolute;
    top: 56px;
    left: -16px;
    width: 100%;

    background-color: #1074CC;
    z-index: 15;

    flex-direction: column;

    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;

    transition: 0.25s ease;
  }

  .header__nav.open {
    transform: translateY(0);
    opacity: 1;
    width: 100vw;
    pointer-events: auto;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: stretch;
  }

  .header__nav-item {
    width: 100%;
    padding: 14px 16px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    justify-content: flex-start;
  }

  .icon {
    display: block;
  }
  .header__avatar{
    display: none;
  }
  .header__actions{
    margin-left: 0;
  }
  .header__BBB{
    margin-left: auto;
  }
}
